.explore-container{
   width: 100%;
   height: 100%;
}

.grid-container{
   text-align: center;
}


.swiper-slide {

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
}




.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 70%;
  width: 90%;
}

.mySwiper1 {
  margin-top: 1em;
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper1 .swiper-slide {
  width: 25%;
  height: 80%;
  opacity: 0.65;
}

.mySwiper1 .swiper-slide-thumb-active {
  opacity: 1;

}

.mySwiper1 .swiper-slide-thumb-active img {
   
   background-color: rgba(128, 255, 0, 0.288);
 }

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.swiper-pagination {
	position: absolute;
	bottom: 5% !important ;
}
.swiper-pagination-bullet {
	padding: 5px 10px;
	border-radius: 20%;
	width: 2em;
	height: 12px;
	opacity: 1;
	background: rgba(255, 255, 255, 0.774);
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: #d9ff00c2;
}